/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html {
  min-height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(88vh - 8em);
  padding: 4em;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Anonymous Pro", monospace;
  background-color: rgb(25, 25, 25);
}

.line-1 {
/*   position: relative; */
/*   top: 50%; */
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
  animation: typewriter 2s steps(70) 1s 1 normal both,
    blinkTextCursor 400ms steps(55) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 15em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.layout {
  display: flex;
  margin-top: 10px;
}

.discord {
  margin: 10;
  width: 90px;
}

.rounded {
  border-radius: 25px;
}

.rounded:hover {
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
        background-color: #FFFFFF;
        position: relative;
        box-shadow: 0px 0px 10px 1px rgb(255,148,132);
}

.titlecase {
  color: rgb(255,148,132)
}

.form {
  
  color: white;
  line-height: 15;
  text-decoration: none;
  display: flex;
}

.nav {
  line-height: 70px;
}

#forms {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

#forms:hover {
  font-size: 200%;
}

#about {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

#about:hover {
  font-size: 200%;
}

#contact {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

#contact:hover {
  font-size: 200%;
}



