

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html {
  min-height: 100%;
  overflow: hidden;
}

.wrap-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(88vh - 8em);
  padding: 4em;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Anonymous Pro", monospace;
  position: relative;
}

body {
  position: relative;
  margin: 0;
  height: 100vh;
}

body.open .panel.left {
    transform: translateX(-100%);
    z-index: 1;
}

body.open .panel.right {
    transform: translateX(100%);
    z-index: 1;
}

.panel {
  position: absolute;
  height: 100%;
  width: 50%;
  background: #B03034;
  transition: all 0.5s ease;
  z-index: 1;
  
}

.panel.right {
  right: 0;
  z-index: 1;
}

#tph {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 30%;
  z-index: 2;
  box-shadow: 0px 0px 10px 1px rgb(255, 255, 255);
  border-radius: 150px;
}

#tph:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: all scale(1.5);
  transition: transform .8s;
}

.line-1 {
/*   position: relative; */
/*   top: 50%; */
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
  animation: typewriter 2s steps(70) 1s 1 normal both,
    blinkTextCursor 400ms steps(55) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 15em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.layout {
  display: flex;
  margin-top: 10px;
  padding: 10
}

.discord {
  margin: 10;
  width: 90px;
}

.rounded {
  border-radius: 25px;
  background: transparent;
  transition: 0.8s
}



.rounded:hover {
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: all scale(1.5);
        transition: transform .8s; /* Animation */
        background-color: #FFFFFF;
        position: relative;
        box-shadow: 0px 0px 10px 1px rgb(255,148,132);
}

.titlecase {
  color: #00ECFF;
  /* color: rgb(255,148,132) */
}

.form {
  
  color: white;
  line-height: 15;
  text-decoration: none;
  display: flex;
}

.nav {
  line-height: 70px;
}

#forms {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

#forms:hover {
  /* font-size: 200%; */
}

#about {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

#about:hover {
  /* font-size: 200%; */

}

#contact {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

#contact:hover {
  /* font-size: 200%; */
}

canvas{
  display: block;
  color: blue;
} /* ---- particles.js container ---- */ 
#particles-js { 
  position: absolute; 
  width: 100%; 
  height: 100%; 
  background-color: #121240; 
  background-repeat: no-repeat; 
  background-size: 100%; 
  background-position: 50% 50%; 
  /* z-index: -1;  */
}

.glow:hover {
  font-size: 20px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px #01DCFF}

  to {
    text-shadow: 0 0 10px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6;
  }
}